$body-color: rgba(111, 242, 104, 0.596);
$photo-width: 200px;
$photo-height: 200px;
$grid__bp-md: 800;
$card-bg-color: slategrey; 
$hover-text-color:#dedede;
$primary-color: rgb(20, 115, 198);
$success-color:#28a745;
$hover-text-color:rgb(255, 43, 43);
$danger-color: #d9534f;
$default-color: #6c757d;
$card-bg-color: #c8cfd5;
$pink-color: #ffa39f;
$h1-color: rgb(212, 148, 65);
$warning-color: rgb(255, 208, 36);
$margin: 200px;

