body {
  background-color: rgba(111, 242, 104, 0.596);
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
body .main-class {
  width: 100vw;
}
body h1 {
  text-align: center;
  font-size: xxx-large;
  color: rgb(212, 148, 65);
  font-family: "Rubik Bubbles", cursive;
}
body h1 .headers {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  width: fit-content;
  padding: 24px;
  width: fit-content;
  margin-left: 0px;
  border-radius: 6px;
}
body h2 {
  color: rgb(212, 148, 65);
  font-family: "Rubik Bubbles", cursive;
}
body .sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(9, 125, 3);
  overflow-x: hidden;
  padding-top: 20px;
}
body .sidenav a {
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: large;
  color: azure;
  display: block;
}
body .sidenav a:hover {
  color: rgb(0, 4, 4);
}
body .photo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body main {
  margin-left: 150px;
}
body .jumbotron {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  position: relative;
}
body .panel {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  width: fit-content;
  padding: 24px;
  width: fit-content;
  margin-left: 150px;
  border-radius: 6px;
  width: 100vw;
}
body .panel-title {
  font-size: 1.2rem;
}
body .panel-featured {
  max-width: 1200px;
}
body .panel-featured .panel-title {
  font-size: 1.5rem;
  color: white;
}
body .panel .hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
}
body .flowers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 150px;
}
body li {
  margin-left: -30px;
}
body .card {
  border: 2px solid rgba(0, 0, 0, 0);
  display: flex;
  margin: 1rem;
  flex-direction: column;
  width: fit-content;
  width: fit-content;
  max-width: 500px;
  border-radius: 6px;
}
body .card:hover {
  background-color: #c8cfd5;
  border: 2px solid black;
  transition: 600ms;
}
body .card:hover .card-title {
  color: rgb(255, 43, 43);
  transition: 600ms;
  border-bottom: 1px solid transparent;
  border-color: rgb(255, 43, 43);
  display: inline-block;
}
body .card:hover img {
  opacity: 1;
}
body .card-title {
  font-size: 1.2rem;
  margin-left: 4px;
}
body .card-image {
  max-height: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
}
body .card-image img {
  width: 300px;
}
body .card-list {
  list-style: none;
  margin-left: -8px;
}
body .card-list-text {
  margin-left: -20px;
}
body .card-price {
  font-family: bold;
  margin-left: 4px;
}
body .card-btn {
  background-color: #d9534f;
  color: white;
  margin-bottom: 20px;
  margin-left: 4px;
  width: 40%;
  border-radius: 6px;
  padding: 4px;
}
body .card-btn:hover {
  cursor: pointer;
  background-color: #6c757d;
  color: #fff;
}
body .card-btn:active {
  background-color: #fff;
  color: #000;
}
body .card-btn-info {
  background-color: rgb(212, 148, 65);
  color: white;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-left: 4px;
  width: 40%;
  border-radius: 6px;
  padding: 4px;
}
body .card-btn-info:hover {
  cursor: pointer;
  background-color: #6c757d;
  color: #fff;
}
body .card-btn-info:active {
  background-color: #fff;
  color: #000;
}
body .card-tag {
  width: 60%;
  transform: translate(0, -6px);
  height: 18px;
  display: flex;
  align-items: center;
  margin-left: -14px;
}
body .card-tag .bg-primary {
  background-color: rgb(20, 115, 198);
}
body .card-tag .bg-danger {
  background-color: #d9534f;
}
body .card-tag .bg-success {
  background-color: #28a745;
}
body .card-tag .bg-default {
  background-color: #6c757d;
}
body .card-tag .bg-pink {
  background-color: #ffa39f;
}
body .card-tag .bg-warning {
  background-color: rgb(255, 208, 36);
}
body .card-tag-text {
  border-radius: 5px;
  padding: 4px;
  color: white;
  text-align: center;
  margin-left: 1.2rem;
  width: 60%;
  border: #000 solid 2px;
}
body .card-tag-text:hover {
  cursor: pointer;
  background-color: #6c757d;
  color: #fff;
}
body .card-tag-text:active {
  background-color: #fff;
  color: #000;
}
body .card-bg-danger {
  background-color: rgb(20, 115, 198);
}
body .card-featured {
  max-width: 1200px;
}
body .card-featured .card-title {
  font-size: 1.5rem;
  color: white;
}
body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
body .container--fluid {
  margin: 0;
  max-width: 100%;
}
body .container__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
body .container .list {
  width: auto;
  height: auto;
  background-color: rgba(153, 255, 147, 0.596);
  margin: 10px;
}
body .container .list .category1 {
  background-color: brown;
  border-radius: 10px;
  border-style: none;
}
body .product-page {
  width: 100vw;
}
body .product-page .succulent-section {
  padding-left: 5rem;
}
body .product-page small {
  padding-left: 15px;
}
body .product-page strong {
  width: 10%;
}
body .product-page .succulent-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 5rem;
  transition: 0.2s;
}
body .product-page .succulent-image:hover {
  transform: scale(1.1);
  cursor: help;
}
body .form-section {
  margin-left: 200px;
}
body .form-section .paragraph-form {
  margin-left: 20px;
}
body .form-class {
  max-width: 650px;
  padding: 20px 12px 10px 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
body .form-class .form-class-heading {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
  padding-bottom: 3px;
}
body .form-class label {
  display: block;
  margin: 0px 0px 15px 0px;
}
body .form-class label span {
  width: 160px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
body .form-class input.input-field, body .form-class .select-field {
  width: 48%;
}
body .form-class input.input-field, body .form-class .textarea-field, body .form-class .select-field {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
body .form-class .input-field:focus, body .form-class .textarea-field:focus, body .form-class .select-field:focus {
  border: 1px solid rgb(244, 67, 244);
}
body .form-class .textarea-field {
  height: 100px;
  width: 55%;
}
body .form-class input[type=submit]:hover, body .form-class input[type=button]:hover {
  background-color: rgb(212, 148, 65);
  color: #fff;
}
body .section-about {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 150px;
}
body .section-about .image-gustav {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}
body .ceo-text {
  display: inline;
}
body .image-team {
  margin-left: 200px;
  margin-top: 50px;
  width: 800px;
  height: auto;
  border-radius: 10px;
}
body .image-team .p-team {
  margin-left: 200px;
}
body .section-about-2 {
  margin-left: 200px;
  margin-right: 200px;
}

/*# sourceMappingURL=styles.css.map */
